# Problem_Statement

1. Load the demo dataset in dataframe object df

2. Detect the outlier using Z-score

3. replace the outliers with the median value.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

df = pd.read_csv(r"C:\Users\OM\Downloads\demo1.csv")
df.head()

C:\Users\OM\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019

In [2]:
# 2. Detecting outliers using Z-score
# Computing Z-score for each column
z_scores = np.abs(zscore(df))
z_scores

# Threshold for identifying outliers (e.g., z_score > 3)
threshold = 3

# Boolean mask for outliers
outlier_mask = (z_scores > threshold)

In [7]:
# 3. Replace the outliers with the median value
# Calculate the median value for each column
medians = df.median()

# Replace outliers with the median value
df[outlier_mask] = np.where(outlier_mask, medians, df)

# Display the DataFrame after replacing outliers
print("DataFrame after replacing outliers with median value:")
print(df)

DataFrame after replacing outliers with median value:
    math score  reading score  writing score  placement score  \
0           80             68             70               89
1           71             61             85               91
2           79             16             87               77
3           61             77             74               76
4           78             71             67               90
5           73             68             90               80
6           77             62             70               35
7           74             45             80               12
8           76             60             79               77
9           75             65             85               87
10         160             67             78               83
11          79             72             88               85
12          80             80             78               94
13          78             69             71               90
14          75             68             71               81
15          78             62             79               93
16          86             78             80               88
17          80             74             23               76
18          75             62             86               87
19          82             70             87               94
20          69             65             84               35
21         100             77             70               91
22          72             60             78               94
23          74             65             71               84
24          75             77             83               77
25          77             67             63               75
26          72            120             70               84
27          71             79             88               85
28         120             73             71               94

    placement offer count  club join year
0                       3            2019
1                       3            2019
2                       2            2018
3                       2            2020
4                       3            2019
5                       2            2019
6                       2            2020
7                       1            2019
8                       2            2020
9                       3            2018
10                      2            2020
11                      2            2019
12                      3            2021
13                      3            2019
14                      2            2019
15                      3            2021
16                      3            2019
17                      2            2021
18                      3            2019
19                      3            2019
20                      1            2018
21                      3            2018
22                      3            2019
23                      2            2019
24                      2            2020
25                      3            2021
26                      2            2021
27                      3            2021
28                      3            2019